n8n/client-notify.workflow.json
{
  "name": "Untold Story — إشعار العميل (عرض سعر)",
  "nodes": [
    {
      "parameters": {
        "content": "## إعداد سريع\n\n1. فعّل هذا الـ workflow.\n2. انسخ **Production URL** من عقدة Webhook.\n3. ضعه في `.env.local`:\n`VITE_CLIENT_NOTIFY_WEBHOOK_URL=...`\n\nأو في إعدادات النظام → ربط الليدز → Webhook.\n\n**الأحداث:** `quote_approved` | `quote_won`\n\nأضف عقدة WhatsApp / SMTP بعد «بناء الرسالة».",
        "height": 280,
        "width": 400,
        "color": 5
      },
      "id": "sticky-setup",
      "name": "Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, 120]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client-notify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-in",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "untold-client-notify"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst type = String(body.type || '').trim();\nconst name = String(body.customerName || 'عميل').trim();\nconst title = String(body.title || 'عرض السعر').trim();\nconst total = body.totalAmount != null ? Number(body.totalAmount) : null;\nconst wo = body.workOrderId ? String(body.workOrderId) : '';\n\nlet message = '';\nif (type === 'quote_approved') {\n  message = `مرحباً ${name}،\\nتم اعتماد عرض السعر: ${title}`;\n  if (total != null && !Number.isNaN(total)) message += `\\nالإجمالي: ${total} ج.م`;\n  message += '\\nسيتواصل معك فريقنا قريباً.';\n} else if (type === 'quote_won') {\n  message = `تهانينا ${name}!\\nتم تأكيد موافقتكم على: ${title}`;\n  if (wo) message += `\\nمرجع أمر الشغل: ${wo}`;\n} else {\n  message = `إشعار نظام: ${type || 'unknown'}`;\n}\n\nreturn [{ json: { ok: true, type, customerName: name, title, message, raw: body } }];"
      },
      "id": "code-build-msg",
      "name": "بناء الرسالة",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, received: $json.type }) }}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "بناء الرسالة", "type": "main", "index": 0 }]]
    },
    "بناء الرسالة": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Webhook لإشعار العميل عند اعتماد عرض أو موافقة العميل. أضف WhatsApp/SMTP بعد «بناء الرسالة»."
  }
}
